rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Anyone can read settings, only authenticated admins can update them
    match /settings/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
